body{
    text-align: center;
}
.btn-container{
    display: flex;
    justify-content: center;
}

.btn{
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
    margin: 2.5rem;
}

.yellow{
    background-color: #901E3E;
}
.red{
    background-color: #DC2525;
}
.purple{
    background-color: #819ff9;
}
.green{
    background-color: #9BC09C;
}
.gameFlash{
    background-color: #fff;
}
.userFlash{
    background-color: green;
}