body{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
}

.btn{
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 25%;
    margin: 2rem;
}
.red{
    background-color: #DC2525;
}
.green{
    background-color: #9BC09C;
}
.yellow{
    background-color: #901E3E;
}
.blue{
    background-color: #819ff9;
}
.flash{
    background-color: white;
}