*{
    padding: 0;
}
body{
    text-align: center;
    background-color: #8ABB6C;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    height: 60vh;
    display: flex;
    justify-content: center;
}
.gameBtn{
    height: 25rem;
    width: 25rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.box{
    height: 8rem;
    width: 8rem;
    border-radius: 1rem;
    background-color: #DDDEAB;
    border: none;
    box-shadow:  0 0 1rem rgba(0,0,0.0.5);
    font-size: 3rem;
    color: #B12C00;
    cursor: pointer;
}
.mainBtns{
    padding: 0.7rem;
    background-color: #B12C00;
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    border: none;
}

.msg-container, .name-container{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.name-container input{
    margin-bottom: 2rem;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
}
.hide{
    display: none;
}
.hides{
    display: none;
}